
@{
    ViewBag.Title = "HW3";
}

<h2>HW3</h2>

@{ 
    String[] fruit = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

@ViewBag.mmm

<ol>
    @foreach (var item in fruit)
    {

        <li>@item</li>

    }
</ol>