
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<h1>FUCKING GOOOOOOOOOOD</h1>

<input type="text" name="name" value="" /><br /><br />
<input type="password" name="name" value="" /><br /><br />
<input type="submit" name="name" value="" />LOGIN<br /><br />
<input type="radio" name="name" value="" />YES<br />
<input type="radio" name="name" value="" />NO<br />
